# DATA MINING PROJECT

In [1]:
import pandas as pd
import numpy as np

mytrainset = pd.read_csv('../input/titanic/train.csv') 
mytrainset.head()
# import and view preview of train set

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
mytestset = pd.read_csv('../input/titanic/test.csv')
mytestset.head()
# import and view preview of test set

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
mytrainset.info()
mytestset.info()
# view info of our datasets to analyze what attributes need preprocessing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [4]:
ages_mean_train = mytrainset['Age'].mean()
ages_mean_train = round(ages_mean_train)

ages_mean_test = mytestset['Age'].mean()
ages_mean_test = round(ages_mean_test)

# calculate the means of ages for preprocessing

In [5]:
mytrainset['Age'] = mytrainset['Age'].replace(np.nan, ages_mean_train)
mytrainset['Age'] = mytrainset['Age'].replace(np.nan, ages_mean_train)
mytrainset = mytrainset.drop(["Cabin"], axis=1)
mytrainset = mytrainset.drop(["Name"], axis=1)
mytrainset = mytrainset.drop(["Ticket"], axis=1)
mytrainset['Embarked'].replace({'C':1, 'Q':2, 'S':3},inplace=True)
mytrainset['Embarked'] = mytrainset['Embarked'].fillna(0)
mytrainset['Sex'].replace({'male':0, 'female':1},inplace=True)

mytestset['Age'] = mytestset['Age'].replace(np.nan, ages_mean_test)
mytestset = mytestset.drop(["Cabin"], axis=1)
mytestset = mytestset.drop(["Name"], axis=1)
mytestset = mytestset.drop(["Ticket"], axis=1)
mytestset['Embarked'].replace({'C':1, 'Q':2, 'S':3},inplace=True)
mytestset['Sex'].replace({'male':0, 'female':1},inplace=True)
mytestset['Fare'] = mytestset['Fare'].fillna(mytestset['Fare'].mean())

# Replacing null age values with the mean of ages and dropping features that do not matter.
# Tranform our embark attribute into numbers to aid in preprocessing
# Replace our sex values with numbers to also aid in preprocessing
# Filled the one fare attribute which was null with 0.

In [6]:
mytrainset.info()
mytestset.info()

# Analyzing the datasets after preprocessing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    float64
dtypes: float64(3), int64(6)
memory usage: 62.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [7]:
mytrainset.head()

# previewing after preprocessing

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500       3.0
1            2         1       1    1  38.0      1      0  71.2833       1.0
2            3         1       3    1  26.0      0      0   7.9250       3.0
3            4         1       1    1  35.0      1      0  53.1000       3.0
4            5         0       3    0  35.0      0      0   8.0500       3.0

In [8]:
mytestset.head()

# previewing after preprocessing

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    0  34.5      0      0   7.8292         2
1          893       3    1  47.0      1      0   7.0000         3
2          894       2    0  62.0      0      0   9.6875         2
3          895       3    0  27.0      0      0   8.6625         3
4          896       3    1  22.0      1      1  12.2875         3

In [9]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import train_test_split
# filtered our prediction attribute
y = mytrainset['Survived']
# defined our features 
features = ["Pclass", "Age", "Sex", "SibSp", "Parch", "Embarked"]
X = mytrainset[features]
# split our training set into a training set and a validation set 70% 30% split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [10]:
# Using random forest classifier 
model= RandomForestClassifier(n_estimators=200,max_depth=5, random_state=1)
model = model.fit(X_train, Y_train)
predictions = model.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(predictions, Y_test)
# ignore this

0.7798507462686567

In [12]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
NB_model_predictions = gnb.fit(X_train, Y_train).predict(X_test)
accuracy_score(NB_model_predictions, Y_test)
# Using Naive Bayses Classsifier

0.7649253731343284

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

decisiontreeModel = DecisionTreeClassifier()

decisiontreeModel = decisiontreeModel.fit(X_train, Y_train)

decisiontreePredicition = decisiontreeModel.predict(X_test)

accuracy_score(decisiontreePredicition, Y_test)

# Using decision trees classifier

0.75

In [14]:
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5, metric='euclidean')

knn.fit(X_train, Y_train)

knnPredictions = knn.predict(X_test)
# confusion_matrix(y, knn.predict(X_train))

accuracy_score(Y_test, knnPredictions)

# Using K nearest neighnour classsifier

0.7425373134328358

In [15]:
from sklearn.linear_model import LogisticRegression
LRModel = LogisticRegression(max_iter = 200)
LRModel.fit(X_train, Y_train)
LRModel_Prediction = LRModel.predict(X_test)

accuracy_score(Y_test, LRModel_Prediction)

# using logistic regression classifier

0.7761194029850746

In [16]:
# Using k fold cross validation to analyse the accuracy of our models
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
cv = KFold(n_splits=10, random_state=1, shuffle=True)
scores = cross_val_score(model, X, y,  scoring='accuracy', cv=cv, n_jobs=-1)
print("%0.2f accuracy" % (scores.mean()))

0.82 accuracy

In [17]:
scores = cross_val_score(gnb, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
scores
print("%0.2f accuracy" % (scores.mean()))

0.79 accuracy

In [18]:
scores = cross_val_score(decisiontreeModel, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
scores
print("%0.2f accuracy" % (scores.mean()))

0.79 accuracy

In [19]:
scores = cross_val_score(knn, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
scores
print("%0.2f accuracy" % (scores.mean()))

0.77 accuracy

In [20]:
scores = cross_val_score(LRModel, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
scores
print("%0.2f accuracy" % (scores.mean()))

0.80 accuracy

In [21]:
testing = mytestset[features]
testPredicitons = model.predict(testing)

In [22]:
testPredicitons

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [23]:
testPredicitons = {'PassengerId':mytestset["PassengerId"], "Survived": testPredicitons}
pd.DataFrame(testPredicitons).to_csv("predictions.csv", index = False)